<mat-tab-group>
  <mat-tab label="Sandbox">
    <div jemPadding fxLayout="column">
      <mat-card>
        <h2>Hi,</h2>
        <p>This could be a nice place to start sandboxing stuff... see you in sb_ prefixed branches for topics.</p>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Highlights">
    <mat-card>
      <h2>A few pointers</h2>
      <ul>
        <li>this is a nice place to list headlines of must-see point of interests in the code.</li>
      </ul>
    </mat-card>
  </mat-tab>

  <mat-tab label="Resources">
    <mat-card>
      <h2>Recommended resources</h2>
      <mat-list role="list">
        <mat-list-item role="listitem"><a href="" target="_blank">A link that is very relevant</a></mat-list-item>
      </mat-list>
    </mat-card>
  </mat-tab>
</mat-tab-group>
