<div jemPadding fxLayout="column">
  <mat-card>
    <h2>Hi!</h2>
    <p>This sandbox helps practicing the various operators of RxJS. The rating between easy and difficult is purely subjective. It's based on a suggested learning sequence as their processing and writing gets more abstract.</p>
    <p>Sources of the following examples are in <b>/src/app/pages/operators</b></p>
    <div *ngFor="let section of sections">
      <h3>{{ section.title }}</h3>
      <ul>
        <li *ngFor="let entry of section.links" ><button mat-button [routerLink]="[entry.route]">{{ entry.title }}</button></li>
      </ul>
    </div>
  </mat-card>
</div>
