app-root {

  display: flex;
  height: 100vh;  // make sure to have a reset.scss included like I do in this project under styles (see /.angular-cli.json styles array)
  width: 100vw;

  & > router-outlet + * {
    border-color: red;
  }
}
